.main
  .main__header
    .group-info
      .group-info__left
        .group-info__left--name
          = @group.name
        .group-info__left--member
          Member：
          - @group.users.each do |user|
            = user.name
      .group-info__right
        = link_to "Edit", edit_group_path(@group), class: "group-info__right--btn"
  .main__chat
    = render @messages
    -# インスタンス変数の名前を単数形にしたものと、
    -# 部分テンプレートの名前が同じならこのような省略をすることができます。
  .main__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form-box
        = f.text_field :content, placeholder: "type a message", class: 'form-box__message'
        = f.label :image, class: "form-box__icon" do
          %i.far.fa-image
          = f.file_field :image
      = f.submit 'send',class: 'main__form--btn'