<!DOCTYPE html>
%html
  %head
    %meta{charset: "UTF-8"}
    %link(rel = "stylesheet" href = "assets/stylesheets/modules/_messages.scss")

%body

.main
  .main__header
    .group-info
      .group-info__left
        .group-info__left--name
          test
        .group-info__left--member
          Member：masa
      .group-info__right
        = link_to "Edit", "#", class: "group-info__right--btn"
  .main__chat
    .message-box
      .message-box__user
        .message-box__user--name
          masa
        .message-box__user--time
          2019/11/20(wed)
      .message-box__text
        おはよう！
    .message-box
      .message-box__user
        .message-box__user--name
          masa
        .message-box__user--time
          2019/11/20(wed)
      .message-box__text
        こんにちは
  .main__form
    .form-box
      = form_with(class: :form) do |f|
        = f.text_field :text, placeholder: "type a message", class: 'form-box__message'
        = f.label :image, class: "form-box__icon" do
          %i.far.fa-image
          = f.file_field :image
    = form_with do |f|
      = f.submit 'send',class: 'main__form--btn'