.side-bar
  .side-bar__header
    .top-items
      %h3.top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path do
          = icon('far', 'edit',class: 'icon', "href": "#")
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog',class: 'icon', "href": "#")

  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-box
        = link_to group_messages_path(group) do
          .group-box__name
            = group.name
          .group-box__message
            = group.show_last_message